body {
    position: relative;
    width:100%;
    height:100vh;
   font-family: 'orbitron',sans-serif;

    background:linear-gradient(#1F2B38, rgba(0,128,128,0.4)),
    url('https://plus.unsplash.com/premium_photo-1733259834058-e61e2d794897?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    padding:0;
    margin:0;
}

.overlay{
    background-color: #182433;
    min-width: 100vh;
    position:fixed;
  
    width:70vw;
    height:100vh;
    z-index: 1;
    justify-content: center;
  
    padding:30px;
    left: 175px;
top:40px; /*when position fixed margins do not really move */
right: 40px;
 border: 2px solid  #00CCFF;  /* neon teal-green */

  /* Glow effect */
  box-shadow: 0 0 20px #00FFAB, 0 0 40px #0066FF,

  0 0 60px #00CCFF;

    
}
.navigation-bar{
    background-color: #1F2B38;
    padding:23px;
    align-items:center;
    justify-content: center;
    gap:40px;
    display:flex;
    
}
.navigation-bar a{
color: whitesmoke;
text-decoration: none;

}
.navigation-bar a:hover{
    transform:translate3d(0,0,-5px);
    color:#00FFAB;
}